<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<br>
<div class="w3-main" >
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form (ngSubmit)="createAdvert()" #f="ngForm">
        <div class="form-group">
          <label>Select Your Car</label>
          <select class="form-control" name="carId" [(ngModel)]="carId" >
            <option *ngFor="let car of allCars" value="{{car.id}}">{{car.nameOfCar}}</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" [routerLink]="['/home/register/car']">Register Car
          <i class="fa fa-car"></i>
          </button>
        </div>

        <br>
        <hr>
        <div class="form-group">
          <label>Select Price</label>
          <select class="form-control" name="priceId" [(ngModel)]="priceId" >
            <option hidden>Select Price</option>
            <option *ngFor="let price of allPrices" value="{{price.id}}">{{price.priceName}}</option>
          </select>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" [routerLink]="['/home/define/price']">Create New Price
            <i class="fa fa-dollar"></i>
          </button>
        </div>

        <br>
        <hr>
        <div class="form-group">
          <label>Cover Picture </label>
        </div>
        <div class="custom-file form-group" id="customFile" lang="es">
          <input #profileImageInput accept="image/*" (change)="onInputProfileImage(profileImageInput)" id="profileImageInput"
                 type="file" class="custom-file-input"  aria-describedby="fileHelp">
          <label class="custom-file-label" for="profileImageInput">
            Select Profile Picture... <i class="fa fa-image"></i>
          </label>
        </div>

        <div *ngIf="profileImage" class="form-control-file">

            <br>
            <img id="profile" [src]="profileImage.src" height="300"  *ngIf="profileImage">
            <hr>

        </div>

        <br>
        <br>

        <div class="form-group">
          <label>Other Pictures</label>
        </div>
        <div class="custom-file"  lang="es">
          <input #galleryImageInput type="file" accept="image/**" (change)="onInputGalleryImage(galleryImageInput)" hidden id="galleryImageInput" name="galleryImageInput"
                 class="custom-file-input"  aria-describedby="fileHelp">
          <label class="custom-file-label" for="galleryImageInput">
            Select Others Pictures... <i class="fa fa-image"></i> <i class="fa fa-image"></i> <i class="fa fa-image"></i>
          </label>
        </div>
        <div *ngFor="let img of imageGallery; let i = index"class="form-control-file">
          <br>
          <img id="imageGallery" [src]="img.src" height="200"  *ngIf="imageGallery">
          <hr>
          <button class="btn btn-primary float-right " (click)="onClearImage(i)">Remove Gallery Picture <i class="fa fa-trash"></i></button>
        </div>
        <hr>
        <br>
        <div class="form-group">
          <label>Start Date</label>
          <input type="date"  class="form-control" name="startDate" [(ngModel)]="startDate">

        </div>
        <div class="form-group">
          <label>End Date</label>
          <input name="endDate" type="date" class="form-control" [(ngModel)]="endDate">

        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" name="desc" rows="7" [(ngModel)]="desc"></textarea>

        </div>
        <br>
        <hr>

        <br>
        <div class="form-group">
          <button class="btn btn-danger float-right" type="ngSubmit">Create Advert</button>
        </div>
      </form>


    </div>
  </div>
</div>
<br>
