<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="image">
</div>
<br>
<div class="w3-main" >
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="define"  #f="ngForm" (ngSubmit)="createPrice()" novalidate class="feedback-form">
        <div>
          <h4><b>Price </b>
            <i class="fa fa-credit-card"></i></h4>
        </div>
        <div class="form-group" style="margin-top:20px;">
          <label for="priceName">Name Of Price</label>
          <input type="text" id="priceName"
             placeholder="Name"
             name="priceName"
             class="form-control"
             [(ngModel)]="model.priceName"

          />
        </div>

        <div class="form-group" style="margin-top:20px;">
          <label for="pricePerDay">Price Per Day</label>
          <input type="number" id="pricePerDay"
             placeholder="Price par day"
             class="form-control"
             pattern="^\d*(\.\d{0,2})?$"
             min="0"
             name="pricePerDay"
             [(ngModel)]="model.pricePerDay"
        />
        </div>

        <div class="form-group" style="margin-top:20px;">
          <label for="insurancePrice">Insurance Price</label>
          <input type="number" id="insurancePrice"
              placeholder="Insurance Price"
             class="form-control"
             pattern="^\d*(\.\d{0,2})?$"
             min="0"
             name="insurancePrice"
             [(ngModel)]="model.insurancePrice"

          />
        </div>

        <div class="form-group" style="margin-top:20px;">
          <label for="distanceOverflowPrice" >Distance Overflow Price</label>
          <input type="number" id="distanceOverflowPrice"
             placeholder="Distance Overflow Price"
             class="form-control"
             pattern="^\d*(\.\d{0,2})?$"
             min="0"
             name="distanceOverflowPrice"
             [(ngModel)]="model.distanceOverflowPrice"
          />
        </div>




        <div class="form-group" style="margin-top:20px;">
          <label for="discount">Discount</label>
          <select class="form-control custom-select" id="discount" name="discount" >
            <option value="5">5%</option>
            <option value="10">10%</option>
            <option value="20">20%</option>
            <option value="30">30%</option>
            <option value="40">40%</option>
            <option value="50">50%</option>
            <option value="60">60%</option>
            <option value="70">70%</option>
            <option value="80">80%</option>
            <option value="90">90%</option>
          </select>
        </div>
        <hr>
        <div class="form-group" style="margin-top:20px;">
          <input type="submit" class="btn btn-info float-right" value="Define Price" />
        </div>

      </form>
    </div>
  </div>
</div>
