
<h1>My Cars</h1>
<br>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Number</th>
    <th scope="col">Car Brand</th>
    <th scope="col">Car Model</th>
    <th scope="col">Profile Picture</th>
    <th scope="col">Distance Traveled</th>



  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let advert of allAdverts">
    <td>{{advert.advertId}}</td>
    <td>{{advert.carBrand}}</td>
    <td>{{advert.carModel}}</td>
    <td>
      <div>
        <img class="d-block w-50" src="{{'data:image/jpg;base64,' + advert.profilePicture}}" alt="profile image">
      </div>

    </td>
    <td>{{advert.traveledDistance}}</td>
    <td><button class="btn btn-danger" (click)="reserved(advert)">Capture Date</button></td>
  </tr>




  </tbody>
</table>
