<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<br>
<div class="w3-main" >
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">

        <div class="form-group">
          <label>Company name</label>
          <input sanitaze type="text" formControlName="company" class="form-control" [ngClass]="{'is-invalid': submitted && f.company.errors }"/>
        </div>

        <div class="form-group">
          <label>Company registration number</label>
          <input sanitaze type="text" formControlName="registrationNumber" class="form-control" [ngClass]="{'is-invalid': submitted && f.registrationNumber.errors}"/>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input sanitaze type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input sanitaze type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>

        <div class="form-group">
          <label>Confirm Password</label>
          <input sanitaze type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>

        <div class="form-group">
          <label>State</label>
          <input sanitaze type="text" formControlName="state" class="form-control" [ngClass]="{'is-invalid': submitted && f.state.errors}"/>
        </div>

        <div class="form-group">
          <label>City</label>
          <input sanitaze type="text" formControlName="city" class="form-control" [ngClass]="{'is-invalid': submitted && f.city.errors}"/>
        </div>

        <div class="form-group">
          <label>Street</label>
          <input sanitaze type="text" formControlName="street" class="form-control" [ngClass]="{'is-invalid': submitted && f.street.errors}"/>
        </div>

        <div class="form-group">
          <label>Street number</label>
          <input sanitaze type="text" formControlName="streetNumber" class="form-control" [ngClass]="{'is-invalid': submitted && f.streetNumber.errors}"/>
        </div>

        <hr>

        <div class="form-group">
          <label>Application addres</label>
          <input sanitaze type="text" formControlName="url" placeholder="http://you-ip-address:port" class="form-control" [ngClass]="{'is-invalid': submitted && f.url.errors}"/>
        </div>

        <div class="form-group">
          <div class="row justify-content-end">
            <button class="btn btn-dark">Register</button>
          </div>
        </div>
      </form>
  </div>
  </div>
</div>

