
<div class="container container-fluid">
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <div >
      <a class="navbar-brand" href="#">{{messages[0].recipient}}</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

      </div>
    </div>
  </nav>
</div>
<hr>

<div class="container mb-3" *ngFor="let message of messages">
  <app-mesages [ms]=message></app-mesages>
</div>

