<div>

<div class="row">
  <div class="col-5 border-right">

    <div class="row justify-content-center">
      <div class="bg-secondary" style="width: 250px;height: 250px;">profile image</div>
    </div>

    <br>
    <div class="row justify-content-around">
      <div class="col-2 bg-secondary" style="width: 50px;height: 50px;"></div>
      <div class="col-2 bg-secondary" style="width: 50px;height: 50px;"></div>
      <div class="col-2 bg-secondary" style="width: 50px;height: 50px;"></div>
      <div class="col-2 bg-secondary" style="width: 50px;height: 50px;"></div>

    </div>

  </div>
  <div class="col-7">
    <h3>price: </h3>
    <br>
    <p>grade: </p>
    <p>owner: </p>
    <p>car specific data</p>
  </div>
</div>
<hr>
<p>Description:</p>

<br>
<hr>
<app-comments [ad-id]="adId"></app-comments>
</div>
