<br>
<button mat-raised-button (click)="openDialog()" style="padding-right:100px;" > New brand <i class="fa fa-plus" aria-hidden="true"></i> </button>
<mat-form-field style="padding-left:115px;">
  <mat-label>Filter <i class="fa fa-search" aria-hidden="true"></i> </mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search">

</mat-form-field>

<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource">



    <!-- Position Column -->
    <ng-container matColumnDef="transmissionType">
      <th colspan="2" mat-header-cell *matHeaderCellDef>Transmission Type   </th>
      <td colspan="2" mat-cell *matCellDef="let element"> {{element.transmissionType}} </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th colspan="2" mat-header-cell *matHeaderCellDef>   Update   </th>
      <td colspan="2" mat-cell *matCellDef="let element">
        <tr><button (click)="openDialogUpdate(element)" mat-raised-button matTooltip="Click to Edit" >
          Edit

          <i class="fa fa-pencil" aria-hidden="true"></i>


        </button></tr>
      </td >
      <th></th>

    </ng-container>


    <ng-container matColumnDef="delete">
      <th colspan="2" mat-header-cell *matHeaderCellDef>Delete </th>
      <td colspan="2" mat-cell *matCellDef="let element">

        <tr> <button mat-raised-button (click)="delete(element)" matTooltip="Click to Delete" >
          Delete
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button></tr>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>


  </table>



  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

