<div>

    <div class="row">
        <div class="col-5 border-right">

            <div class="row justify-content-center">
              <img style="width:100%; height:100%" id='base64image'
                   src="{{'data:image/jpg;base64,' + advert.profileImage}}" />
            </div>

            <br>
            <div class="row justify-content-around" >
                <div class="col-lg-6 " *ngFor="let pic of advert.galleryImages" >
                  <img style="width:100%; height:100%"
                       src="{{'data:image/jpg;base64,' + pic}}" />
                </div>


            </div>

        </div>
        <div class="col-7">
            <h3>price: {{advert.price+'$'}}</h3>
            <br>
            <p>grade:{{grade}} </p>
            <p>owner:{{advert.firmName}} </p>
            <br>
            <hr>
            <h3><p>car specifik data</p></h3>
            <p>Brand: {{advert.carBrand}}</p>
            <p>Model: {{advert.carModel}}</p>
        </div>
    </div>
    <hr>
    <p>Description:</p>
<!--    <form (click)="createGrade()">-->
<!--    <h1>Ocena<i class="grade"></i></h1>-->

<!--    <div>-->
<!--      <select class="form-group" >-->
<!--        <option value="1">1</option>-->
<!--        <option value="2">2</option>-->
<!--        <option value="3">3</option>-->
<!--        <option value="4">4</option>-->
<!--        <option value="5">5</option>-->
<!--      </select>-->
<!--    </div>-->
<!--      <br>-->

<!--    <div>-->
<!--      <button class="btn btn-primary">Create Grade</button>-->

<!--    </div>-->

<!--    </form>-->
    <br>
    <hr>

    <app-comments [ad-id]="adId"></app-comments>



</div>
