<div class="container container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" (click)="onHome()">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onSignIn()">sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="onRegister()">register</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="myAdverts()">My Adverts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

