<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



<div class="w3-main" >
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="registerCarForm" #f="ngForm" (ngSubmit)="createCar()"  novalidate class="feedback-form">
        <div>
          <h4><b>Car specification </b>
            <i class="fa fa-cog"></i></h4>
        </div>
        <div class="form-group" style="margin-top:20px;">
          <label>Car Brand</label>
          <select class="form-control" [(ngModel)]="model.carBrand">
            <option *ngFor="let carBrand of allCarBrand" value="{{carBrand.id}}">{{carBrand.name}}</option>
          </select>
        </div>

        <div class="form-group" style="margin-top:20px;">
          <label>Car Model</label>
          <select class="form-control" [(ngModel)]="model.carModel" >
            <option *ngFor="let carModel of allCarModel" value="{{carModel.id}}">{{carModel.modelName}}</option>
          </select>
        </div>

        <div class="form-group" style="margin-top:20px;">
          <label>Car Class</label>
          <select class="form-control" [(ngModel)]="model.carClass">
            <option *ngFor="let carClass of allCarClass" value="{{carClass.id}}">{{carClass.className}}</option>
          </select>
        </div>

        <div class="form-group" style="margin-top:20px;">
          <label>Car Transmission Type</label>
          <select class="form-control custom-select" [(ngModel)]="model.carTransmissionType">
            <option *ngFor="let carTransmission of allCarTransmission" value="{{carTransmission.id}}">{{carTransmission.transmissionType}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="travelDistance">Traveled Distance in km</label>
          <input type="number" pattern="^\d*(\.\d{0,2})?$"
                 placeholder="Traveled Distance in km"
                 class="form-control"
                 min="0"
                 name="travelDistance"
                 id="travelDistance"
                 [(ngModel)]="model.travelDistance"
          />
        </div>

        <div class="form-group" style="margin-top:20px;">
          <label>Car Fuel Type</label>
          <select class="form-control custom-select" [(ngModel)]="model.carFuelType">
            <option *ngFor="let carFuel of allCarFuelType" value="{{carFuel.id}}">{{carFuel.fuelType}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="childrenSitNumber">Children Sit Number</label>
          <input type="number" pattern="^\d*(\.\d{0,2})?$"
                 placeholder="Children Sit Number"
                 class="form-control"
                 min="0" max="5"
                 id="childrenSitNumber"
                 [(ngModel)]="model.childrenSitNumber"
          />
        </div>
        <div class="forum-group btn-group btn-group-toggle">
          <label class="btn btn-info">
            <input type="radio" name="options" [value]="true" autocomplete="off" checked>YES
          </label>

          <label class="btn btn-info">
            <input type="radio" name="options" [value]="false" autocomplete="off" checked>NO
          </label>
        </div>

        <hr>


        <div class="form-group" style="margin-top:20px;">
          <input type="submit" class="btn btn-info float-right" value="Create Car" />
        </div>

      </form>
    </div>
  </div>
</div>

