<div class="container-fluid">
    <br>
    
    <!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <!--First slide-->
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
             alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </mdb-carousel-item>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
             alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Secondary text</p>
      </div>
    </mdb-carousel-item>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
             alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </mdb-carousel-item>
    <!--/Third slide-->
  </mdb-carousel>
  <!--/.Carousel Wrapper-->

    <hr class="bg-success">
    <!--AD INFO-->
    <br>

    <div class="row justify-content-around">

        <div class="col-sm-12 col-md-6 border-right border-success">
                <div class="row">
                    <h3>Price per day: </h3>
                    &nbsp;&nbsp;
                    <h2 class="text text-danger">20% OFF</h2>
                </div>
                <h4>Mileage:</h4>
                <br>
                <h4>Insurance price: (this is optional)</h4>
                <p>Every added km, after crossing NUM km, cost's NUM $</p>
        </div>

        <div class="col-sm-12 col-md-6">
            <h2>Car information</h2>
            <br/>
            <h4>Brand: </h4>
            <h4>Model: </h4>
            <h4>Class: </h4>
            <h4>Fuel Type: </h4>
            <h4>Transmission: </h4>
            <br>
            <h4>Number of children seats: </h4>
        </div>

    </div>

    <br>
    <br>

</div>
