<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" xmlns="http://www.w3.org/1999/html">
<div class="w3-main" >
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="certificateForm" (ngSubmit)="createPrice()"  novalidate class="feedback-form">
        <div>
          <h4><b>Price </b>
            <i class="fa fa-credit-card"></i></h4>
        </div>

        <div class="form-group" style="margin-top:20px;">
          <label>Price per day</label>
          <input type="number"
                 placeholder="Price Per Day"
                 class="form-control"
                 pattern="^\d*(\.\d{0,2})?$"
                 min="0"
                 [(ngModel)]="model.pricePerDay"
                 name="pricePerDay"

          />
        </div>

        <div class="form-group" style="margin-top:20px;">
          <label>Insurance Price</label>
          <input type="number"
                 placeholder="Insurance Price"
                 class="form-control"
                 pattern="^\d*(\.\d{0,2})?$"
                 min="0"
                 [(ngModel)]="model.insurancePrice"
                 name="insurancePrice"

          />
        </div>

        <div class="form-group" style="margin-top:20px;">
          <label>Distance Overflow Price</label>
          <input type="number"
                 placeholder="Distance Overflow Price"
                 class="form-control"
                 pattern="^\d*(\.\d{0,2})?$"
                 min="0"
                 [(ngModel)]="model.distanceOverflowPrice"
                 name="distanceOverflowPrice"

          />
        </div>




        <div class="form-group" style="margin-top:20px;">
          <label>Discount</label>
          <input class="form-control" type="number" name="discount" [(ngModel)]="model.discount"
                 pattern="^\d*(\.\d{0,2})?$"
                 min="0"
                 max="100"
                 
          />


        </div>
        <hr>
        <div class="form-group" style="margin-top:20px;">
          <input type="submit" class="btn btn-info float-right" value="Define Price" />
        </div>

      </form>
    </div>
  </div>
</div>


