<div class="container-fluid">
	<br>
	<div class="row justify-content-around">
		<div class="col">
			<h1>List of advert requests</h1>
		</div>
		<div class="col">
			<div class="row">
				<div class="col">
					<label for="InputState">filter by state</label>
				</div>
				<div class="col">
					<select name="InputState" id="InputState" (change)="onChangeState($event)">
						<option value="ALL">all</option>
						<option value="PENDING">pending</option>
						<option value="APPROVED">approved</option>
						<option value="PAID">paid</option>
						<option value="CANCEL">canceled</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<br>

	<div *ngIf="requestSerivice.bundles.length != 0">
		<div class="row mb-2 mr-1" *ngFor="let b of requestSerivice.bundles">
			<app-bundle-request [bundle]="b" ></app-bundle-request>
		</div>
	</div>
	<div *ngIf="requestSerivice.bundles.length == 0">
		<h3>NO REQUESTS</h3>
	</div>
</div>
