<div>
    <h3>Create a new advert</h3>
    <form (ngSubmit)="onAddAd(f)" #f="ngForm">

        <p>select a car</p>

        <label>
            <span>Profile Image</span>
            <input #profileImageInput type="file" accept="image/*" (change)="onInputProfileImage(profileImageInput)">
        </label>

        <div *ngIf="profileImage" class="img-preview-container">
            <img [src]="profileImage.src" height="200" *ngIf="profileImage">
            <button (click)="onRemoveProfileImage()">remove</button>
        </div>

        <hr>

        <label>
            <span>Galery Images</span>
            <input #galeryImageInput type="file" accept="image/*" (change)="onInputGaleryImage(galeryImageInput)">
        </label>

        <div *ngFor="let img of imageGalery;let i = index" class="img-preview-container">
            <img [src]="img.src" height="200" *ngIf="img">
            <button (click)="onClearImage(i)">remove</button>
        </div>

        <button (click)="onRemoveAll()">clear all</button>


        <button type="submit">create</button>
    </form>
</div>