<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <RollingFile
                name="FileAuth"
                fileName="logs/SearchLogs/infoAuth.log"
                filePattern="logs/SearchLogs/infoAuth.%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />

            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>


        <RollingFile
                name="RootFile"
                fileName="logs/SearchLogs/rootLogsFile.log"
                filePattern="logs/SearchLogs/rootLogsFile.%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20MB" />

            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile
                name="DebugFile"
                fileName="logs/SearchLogs/rootDebugFile.log"
                filePattern="logs/SearchLogs/rootDebugFile.%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="20MB" />

            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>
    <!-- Rolling File Appender -->

    <Loggers>
        <Root level="info">
            <AppenderRef ref="RootFile" level="info"/>
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="AuthLogger" level="info" additivity="false">
            <appender-ref ref="FileAuth" level="info"/>
            <!--<AppenderRef ref="Console" />-->
        </Logger>
        <Logger name="DebugLogger" level="debug" additivity="false">
            <appender-ref ref="DebugFile" level="debug"/>

        </Logger>

    </Loggers>
</Configuration>
